APP_NAME=Tarot Reading API

DATABASE_URL=postgresql+psycopg://USERNAME:PASSWORD@HOST:6543/postgres

DIRECT_URL=postgresql+psycopg://USERNAME:PASSWORD@HOST:5432/postgres

JWT_SECRET_KEY=YOUR_SECRET_KEY

JWT_ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=60

SEED_USER_PASSWORD=YOUR_SEED_USER_PASSWORD
CORS_ORIGINS=http://localhost:5173,https://YOUR_PROJECT.vercel.app